<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷: R2에서 데이터를 받는다 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
      대략 위치만 받는다. 첫 진입에서 시군구 하나를 고르는 데만 쓰고, 좌표는
      기기 밖으로 나가지 않는다 (앱 안에 이미 있는 지역 색인에서 고른다).
      시군구를 고르는 데 미터 단위 정확도는 아무 값어치가 없으므로 정밀 위치는
      요구하지 않는다 — 필요 없는 권한을 받는 것은 그 자체로 비용이다.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--
      geolocator 플러그인이 자기 매니페스트에서 정밀 위치를 얹는다. 그대로 두면
      권한 창에 "정확한 위치"가 뜨고, 우리가 방침과 스토어 설명에 적어 둔
      "정밀 위치를 요구하지 않는다"가 **거짓말이 된다.**

      병합 단계에서 뺀다. 대략 위치만으로 시군구를 고르는 데 부족함이 없다
      (`LocationAccuracy.low`).
    -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove" />
    <application
        android:label="실거래가 지도"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
